<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Schedules
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Schedule", new_schedule_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Optimized Schedule</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="mb-3">
              <div class="float-end">
                <%= link_to "Download CSV", download_csv_schedules_url( {:format => :csv}.merge(params.merge(case_num: params[:page], run_id: @schedule_run.id).permit(:case_num, :run_id))), class: "btn btn-primary" %>
              </div>
              <h2><strong>Run <%= @schedule_run.id %>, Case
                <%= link_to "←", params.merge(page: (@case_num.to_i - 1), run_id: @schedule_run.id).permit(:page, :run_id) %>
                <%= @case_num %>
                <%= link_to "→", params.merge(:page => (@case_num.to_i + 1), run_id: @schedule_run.id).permit(:page, :run_id) %>
                 of <%= @schedule_run.cases %>, HMC Score: <%= @schedules&.first&.top_score %>
                </strong>
              </h2>
              <p>Each case represents a possible schedule.Click the left or right arrows above to see the previous or next case in this run.Statistics for this run are at the bottom.To create the 2020 event schedule from a given case,click the "apply..."" at the button at bottom.</p>
            <table class="table table-bordered" >
              <thead>
                <tr>
                  <th width="100">Week</th>
                  <th class="text-center" width="1000">Workshop</th>
                  <th width="50">Choice</th>
                </tr>
              </thead>
              <tbody>
                <% choices = [] %>
                <% assignments = 0 %>
                <% no_assignments = 0 %>
                <% @schedules.order(:week).each do |schedule| %>
                <tr>
                  <td><%= schedule.week %> (<%= @dates[(schedule.week - 1)]&.strftime("%m-%d") %>)</td>
                  <td><%= schedule_proposal(schedule.proposal)&.html_safe %></td> 
                  <td><%= schedule.choice %></td>
                  <% if schedule.choice.eql?(0) %>
                    <% no_assignments += 1 %>
                  <% elsif schedule.choice.eql?('') %>
                    
                  <% else %>
                    <% choices << schedule.choice %>
                    <% assignments += 1 %>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to "Apply Schedule", export_scheduled_proposals_schedules_path(run_id: @schedule_run.id, case: @case_num), method: :post, class: "btn btn-primary" %>
          </div>

          <div>
            <h2 style ="color: #0000FF;"><u>Statistics for Above HMC Results</u></h2>
            <h5>Number of proposals: <%= proposals_count(@schedules) %></h5>
            <h5>Number of preferred assignments: <%= assignments %></h5>
            <h5>Number of 1st choice assignments: <%= choice_assignment(choices, 1) %></h5>
            <h5>Number of 2nd choice assignments: <%= choice_assignment(choices, 2) %></h5>
            <h5>Number of 3rd choice assignments: <%= choice_assignment(choices, 3) %></h5>
            <h5>Number of 4th choice assignments: <%= choice_assignment(choices, 4) %></h5>
            <h5>Number of 5th choice assignments: <%= choice_assignment(choices, 5) %></h5>
            <h5>Number of non-preferred assignments: <%= no_assignments %></h5>
            <h5>Number of manual assignments:
              <%= proposal_manual_assignments(@schedules.pluck(:proposal)) %>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
