<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Schedules
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Schedule", new_schedule_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Optimized Schedule</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div>
              <h2><strong>Run <%= @schedule_run.id %>, Case
                <%= link_to "←", params.merge(page: (@case_num.to_i - 1), run_id: @schedule_run.id).permit(:page, :run_id) %>
                <%= @case_num %>
                <%= link_to "→", params.merge(:page => (@case_num.to_i + 1), run_id: @schedule_run.id).permit(:page, :run_id) %>
                 of <%= @schedule_run.cases %>, HMC Score: <%= @schedules&.first&.hmc_score %>
                <!--TODO: hmc_score on the basis of selected case -->
                </strong></h2>
                <p>Each case represents a possible schedule.Click the left or right arrows above to see the previous or next case in this run.Statistics for this run are at the bottom.To create the 2020 event schedule from a given case,click the "apply..."" at the button at bottom.</p>
            <table class="table table-bordered" >
              <thead>
                <tr>
                  <th width="100">Week</th>
                  <th class="text-center" width="1000">Workshop</th>
                  <th width="50">Choice</th>
                </tr>
              </thead>
              <tbody>
                <% @schedules.each do |schedule| %>
                <tr>
                  <!--TODO: pending (data on the basis of selected case)-->
                  <td><%= schedule.week %>
                    <% if find_schedule_proposal(schedule.proposal).present? %>
                      (<%= find_schedule_proposal(schedule.proposal).applied_date %>)
                    <% end %>
                  </td> 
                  <td><%= schedule_proposal(schedule.proposal) %></td> 
                  <!--TODO: <td></td> -->
                </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to "Apply Schedule", export_scheduled_proposals_schedules_path(run_id: @schedule_run.id, case: @case_num), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>