<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @person&.fullname %>:</p>

    <p><%= @proposal.lead_organizer&.fullname %> is putting together a proposal for a <%= @proposal.proposal_type.name %> titled "<%= @proposal.title %>" for submission to the Banff International Research Station.</p>

    <p>If this proposal is successful, its proposed event would be some time during the 2023 calendar year.</p>

    <p>This is an informal invitation to gauge your interest in being <%= @invited_as %> this proposed workshop, if it were to be accepted. A positive response to the invitation does not confirm participation, but indicates your appreciation of the scientific content of the program.</p>

    <p>This preliminary invitation is a required step in the proposal process. Your response would help the proposal organizers and proposal reviewers determine the appeal of this proposed workshop to the wider mathematical community.</p>

    <p>To respond to this informal invitation, please indicate your interest in this proposal by following this link by <%= @invite&.deadline_date&.to_date %>:</p>

    <p><%= link_to invite_url(code: @invite.code), invite_url(code: @invite.code) %></p>

    <p>If you indicate a positive response (<i>Yes</i> or <i>Maybe</i>), you'll also be asked to fill out a Diversity and Inclusivity survey. This survey is mandatory, but it should only take a minute to fill out, and for all questions, you are welcome to select <b>Prefer not to answer</b>. Data collected through this survey is anonymous and non-identifying. It will help organizers ensure a balanced composition of the participant pool and showcase the diversity and inclusivity of the proposed program to the review committee.</p>

    <p>Thank you for indicating your interest in this proposed workshop!</p>

    <p>The Banff International Research Station<br>
    and the Organizing Committee</p>
  </body>
</html>
