<p>Feedback from: <%= @person.fullname %><br>
Email: <%= @person.email %><br>
Affiliation: <%= @person.affiliation %></p>
<p>Feedback for proposal: <%= @proposal&.title %><br>
Lead Organizer: <%= @proposal&.lead_organizer&.fullname %></p>
<p>Feedback: <%= @feedback.content %></p>
