<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Feedback from: </p>
    <p>"<%= @person.fullname %>"< <%= @person.email %> ></p>
    <p>(<%= @person.affiliation %>)</p>
    <p> </p>
    <p>Feedback for proposal:</p>
    <p><%= @proposal&.code %>: <%= @proposal&.title %> by</p>
    <p><%= @proposal&.lead_organizer.fullname %></p>
    <br><p><%= @person.fullname %>'s feedback:</p><br>
    <p><%= @feedback.content %></p>
  </body>
</html>
