<div class="mb-3 m-1">
  <% if invites.present? %>
    <table class="table invitation-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Affiliation</th>
          <th>Academic Status</th>
          <th>Status</th>
          <th>Invitation Date</th>
          <th>Deadline Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% invites.each do |invite| %>
        <tbody>
          <tr>
            <td><%= invite_first_name(invite) %></td>
            <td><%= invite_last_name(invite) %></td>
            <td><%= invite.email %></td>
            <% if invite.person.affiliation.present? %>
              <td><%= invite.person.affiliation %></td>
            <% else %>
              <td>-</td>
            <% end %>
            <% if invite.invited_as == 'Participant' && invite.person.academic_status.present? %>
              <td><%= invite.person.academic_status %></td>
            <% else %>
              <td>-</td>
            <% end %>
            <td> <label for="status" class=<%= invite_response_color(invite.response) %> ><%= invite_status(invite.response, invite.status) %></label> </td>
            <td><%= invite.created_at.to_date %></td>
            <td><%= invite.deadline_date.to_date %></td>
            
            <div>
              <% if invite.pending? && params[:action] == 'edit' %>
                <div><td><%= link_to '<i class="align-middle"></i>Cancel Invite'.html_safe, cancel_url(code: invite.code), class: 'btn', method: :post %>
                <%= link_to '<i class="align-middle"></i>Invite Reminder'.html_safe, invite_reminder_proposal_invite_url(invite.proposal, invite, code: invite.code), class: 'btn', method: :post %></td></div>
              <% elsif invite.confirmed? && params[:action] == 'edit' %>
                <div><td><%= link_to '<i class="align-middle"></i>Cancel Invite'.html_safe, cancel_confirmed_invite_url(code: invite.code), class: 'btn', method: :post %>
                <%= link_to '<i class="align-middle"></i>Send New Invite'.html_safe, new_invite_proposal_invite_url(invite.proposal, invite, code: invite.code), class: 'btn', method: :post %></td></div>
              <% else %>
                <td>-</td>
              <% end %>
            </div>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>
