<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", dashboards_path %> </a></li>
          <% if current_user.staff_member? %>
            <li class="breadcrumb-item active" aria-current="page"><%= link_to "Submitted Proposals", submitted_proposals_path %></li>
          <% else %>
            <li class="breadcrumb-item active" aria-current="page"><%= link_to "Proposals", proposals_path %></li>
          <% end %>
          <li class="breadcrumb-item active" aria-current="page">Versions</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3>Your Proposals</h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Code</th>
                <th>Proposal Title</th>
                <th>Proposal Type</th>
                <th>Lead Organizer</th>
                <th>Preferred Location</th>
                <th>Status</th>
                <th width="125">Updated</th>
                <th>Version</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @proposal.answers&.pluck(:version)&.uniq&.each do |version| %>
                <tr>
                  <td><%= @proposal.code %></td>
                  <td><%= @proposal.title %></td>
                  <td><%= @proposal.proposal_type.name %></td>
                  <td><%= @proposal.lead_organizer&.fullname %></td>
                  <td>
                    <% @proposal.locations.each do |loc| %>
                     <%= loc.name %><br>
                    <% end %>
                  </td>
                  <td class=<%= proposal_status_class(@proposal.status) %> >
                    <%= proposal_status(@proposal.status) %>
                  </td>
                  <td><%= @proposal.updated_at.to_date %></td>
                  <td><%= version %></td>
                  <td class="table-action">
                    <%= link_to '<i class="align-middle fas fa-fw fa-eye"></i>Show'.html_safe, proposal_version_proposal_url(@proposal, version: version) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
